/* latin, latin-ext */
@font-face {
	font-family: 'crimson';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/css/fonts/crimson-roman-webfont.woff2) format('woff2');
	size-adjust: 96%;
}
@font-face {
	font-family: 'crimson';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(/css/fonts/crimson-italic-webfont.woff2) format('woff2');
	size-adjust: 96%;
}
@font-face {
	font-family: 'crimson';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/css/fonts/crimson-bold-webfont.woff2) format('woff2');
	size-adjust: 96%;
}
@font-face {
	font-family: 'crimson';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url(/css/fonts/crimson-bolditalic-webfont.woff2) format('woff2');
	size-adjust: 96%;
}
/* latin, latin-ext, greek */
@font-face {
	font-family: 'Rosario';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/css/fonts/Rosario-Regular.woff2) format('woff2');
	size-adjust: 90%;
}
@font-face {
	font-family: 'Rosario';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(/css/fonts/Rosario-Italic.woff2) format('woff2');
	size-adjust: 90%;
}
@font-face {
	font-family: 'Rosario';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/css/fonts/Rosario-Bold.woff2) format('woff2');
	size-adjust: 90%;
}
@font-face {
	font-family: 'Rosario';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url(/css/fonts/Rosario-BoldItalic.woff2) format('woff2');
	size-adjust: 90%;
}
/* latin, latin-ext */
@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/css/fonts/Inconsolata-Regular.woff2) format('woff2');
}
@font-face {
	font-family: 'Inconsolata';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(/css/fonts/Inconsolata-Bold.woff2) format('woff2');
}
/* latin, latin-ext, greek */
@font-face {
	font-family: 'OpenDyslexic';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/css/fonts/OpenDyslexic-Regular.woff2) format('woff2');
	size-adjust: 83%;
}
@font-face {
	font-family: 'OpenDyslexic';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(/css/fonts/OpenDyslexic-Italic.woff2) format('woff2');
	size-adjust: 83%;
}
@font-face {
	font-family: 'OpenDyslexic';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/css/fonts/OpenDyslexic-Bold.woff2) format('woff2');
	size-adjust: 83%;
}
@font-face {
	font-family: 'OpenDyslexic';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url(/css/fonts/OpenDyslexic-Bold-Italic.woff2) format('woff2');
	size-adjust: 83%;
}