{{- $type := .Get "type" }}
{{- $figID := print "fig-" .Page.File.UniqueID "-" .Ordinal }}

{{- $quality := .Get "quality" | default "photo" -}}
{{- $imgurl := cast.ToString (.Get "src") -}}
{{- $image := resources.GetRemote $imgurl -}}
<!-- get the image after processing -->
{{- if hasPrefix $imgurl "http" -}}
{{- $image = resources.GetRemote $imgurl -}}
{{ else }}
{{- $image = .Page.Resources.Get $imgurl -}}
{{- end -}}
{{- $keepsize := .Get "type" -}}
{{- if eq $keepsize "full" -}}
{{- $image = $image.Resize (print (printf "%dx webp " $image.Width) $quality) -}}
{{- else -}}
{{- $image = $image.Resize (print "600x webp " $quality) -}}
{{- end -}}

{{- if not (eq $type "margin") }}
	{{- if eq $type "full" }}<figure class="fullwidth">
	{{- else }}<figure {{ with .Get "class" }} class="{{ . }}"{{ end }}>
	{{- end }}
{{- end }}
{{- if eq $type "full" }}
	{{- with .Get "link" }}<a href="{{ . }}">{{ end }}
		<img 
			loading="lazy" 
			src="{{ $image.RelPermalink }}"
			width="{{ $image.Width }}"
			height="{{ $image.Height }}"
			{{ with .Get "alt" }}
				alt=" {{ . }}"
				title="{{ . }}"
			{{ end }}
			aria-describedby="{{ $figID }}"
			>
	{{- if .Get "link" }}</a>{{ end }}
	<figcaption id="{{ $figID }}">
{{- else }}
	<label for="{{ .Get "label" }}"
		class="margin-toggle">
		⊕
	</label>
	<input 
		id="{{ .Get "label" }}"
		class="margin-toggle"
		type="checkbox"
		>
	<span id="{{ $figID }}"
		class="marginnote">
	{{- if eq $type "margin" }}
		{{- with .Get "link" }}<a href="{{ . }}">
		{{- end }}
			<img 
				src="{{ $image.RelPermalink }}"
				width="{{ $image.Width }}"
				height="{{ $image.Height }}" 
				loading="lazy" 
				{{ with .Get "alt" }}
				alt=" {{ . }}"
				title="{{ . }}" 
				{{ end }}
				aria-describedby="{{ $figID }}">
		{{- if .Get "link" }}</a>{{ end }}
	{{- end }}
{{- end }}
	{{ with .Get "title" }}<strong>{{ . }} </strong>{{ end }}
	{{ with .Get "caption" }}{{ . }}{{ end }}
	{{ with .Get "attrlink" }}<a href="{{ .}}">{{ end }}
	{{- with .Get "attr" }}{{ . }}{{ end }}
	{{- if .Get "attrlink" }}</a>{{ end }}
{{- if eq $type "full" }}
	</figcaption>
{{- else }}
	</span>
{{- end }}
{{- if and (not (eq $type "full")) (not (eq $type "margin")) }}
	{{ with .Get "link" }}<a href="{{ . }}">{{ end }}
		<img
			src="{{ $image.RelPermalink }}"
			width="{{ $image.Width }}"
			height="{{ $image.Height }}" 
			loading="lazy" 
			{{- with .Get "alt" }}
				alt="{{ . }}"
				title="{{ . }}" 
			{{- end -}}
			aria-describedby="{{ $figID }}"
			>
	{{- if .Get "link" }}</a>{{ end }}
{{- end }}
{{- if not (eq $type "margin") }}
	</figure>
{{- end }}